.Transaction {
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    border-bottom: 1px solid #D0D0D0;
}

/* Quick Fix :) */
.Amount{
    width: 70px;
    text-align: left;   
} 
